<h3>tasks</h3>

<p>
  <%= link_to 'new task', new_task_path, 'data-test': 'new-task-link' %>
  <%= link_to 'archives', archives_path, 'data-test': 'archives-link' %>  
</p>

<div data-test='todo-items'>
  <% @todos.each do |todo| %>
    <p>
      <%= todo.name %>
      <%= link_to 'done', done_task_path(todo, status: Task.statuses[:done]),
      'data-test': 'done-task-link', method: :put %>
      <%= link_to 'edit', edit_task_path(todo), 'data-test': 'edit-task-link' %>
      <%= link_to 'delete', task_path(todo), 'data-test': 'delete-task-link', method: :delete %>
    </p>
  <% end %>
</div>

<hr>

<div data-test='done-items'>
  <% @done.each do |done| %>
    <p>
      <%= done.name %>
      <%= link_to 'archive', archive_task_path(done, status: Task.statuses[:archived]), 'data-test': 'archive-task-link', method: :put %>
    </p>
  <% end %>
</div>